:root {
    --background-color: #232A2E;
    --nav-background-color: #3D484D;
    --home-background-color: #475258;
    --card-background-color: #2D353B;
    --text-input-background-color: #343F44;
    --skill-item-background-color: #425047;
    --scroll-thumb-color: #7A8478;
    --text-color: #D3C6AA;
    --sub-text-color: #7A8478;
    --accent-color: #9DA9A0;
    --accent-color-active: #A7C080
}

::-webkit-scrollbar-thumb {
    width: 1vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color-active);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0
}

header {
    background-color: var(--home-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 2rem
}

header h1 {
    color: var(--text-color);
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 0
}

header p {
    color: var(--sub-text-color);
    font-size: 1.5rem;
    margin-top: 0
}

.social-icons a i {
    color: var(--text-color);
    font-size: 24px;
    padding: 1vh;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem
}

section {
    margin-bottom: 3rem
}

section h2 {
    color: var(--text-color);
    font-size: 2.5rem;
    margin-bottom: 1rem
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--nav-background-color);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem
}

li {
    margin: 0 .5rem
}

a {
    text-decoration: none;
    color: var(--text-color);
    opacity: .6
}

a:hover {
    opacity: 1
}

.profile-picture {
    margin-top: 10vh;
    border-radius: 50%;
}

.section {
    padding: 2rem;
    border-radius: 5px;
    margin: 2rem 0;
    background-color: var(--card-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    color: var(--sub-text-color)
}

.project-card {
    background-color: var(--nav-background-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.project-card img {
    height: 200px;
    object-fit: contain;
    margin-top: 5vh;
}

.project-card h3 {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 0;
    padding: 1rem
}

.project-card p {
    color: var(--sub-text-color);
    font-size: 1.2rem;
    padding: 0 1rem 1rem
}

.skill-item {
    background-color: var(--text-input-background-color);
    color: var(--text-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem
}

.skill-item i {
    font-size: 2rem;
    margin-right: 1rem
}

.skill-name {
    font-size: 1.2rem
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--nav-background-color);
    color: var(--text-color)
}

@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: center
    }

    .header h1,
    .profile-picture {
        margin-bottom: 10px
    }

    section h2 {
        font-size: 2rem
    }
}

.animate {
    transition: transform .3s ease
}

.animate:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px var(--accent-color-active)
}

.contact-section {
    text-align: center;
    padding: 2rem;
    background-color: var(--card-background-color)
}

.contact-form label {
    display: block;
    margin-bottom: .5rem
}

.contact-form input,
.contact-form textarea {
    background-color: var(--text-input-background-color);
    color: var(--text-color);
    width: 100%;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    margin-bottom: 1rem
}

.contact-form textarea {
    resize: vertical
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: var(--accent-color-active);
    border: 1px solid var(--accent-color-active);
}

.contact-form button {
    background-color: var(--accent-color);
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer
}

.contact-form button:hover {
    background-color: var(--accent-color-active)
}

.d-none {
    display: none
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: var(--home-background-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease, transform .3s ease, box-shadow .3s ease;
    transform: scale(.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

#back-to-top:hover {
    background-color: var(--accent-color-active);
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4)
}

#back-to-top i {
    vertical-align: middle
}